*{
    padding:0;
    margin: 0;
}
.nav-container{
    background-color:#fafafa;
    height: 80px;
    width: 100%;
      
}
.groups{
    display: flex;
    justify-content: space-around;
}
#logo{
    margin-left: 6%;
}
ul{
    float: right;
    display: flex;
    margin-right:20%;
    padding-top: 5vh;
}
li{
    list-style: none;
    margin-right: 10%;
    font-size: 20px;
    text-transform: uppercase;
}
a{
    /* margin-left:5%; */
    text-decoration: none;
    color: #194152;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#login, #signup{
    border:2px solid #194152;
    width: 130px;
    background-color: #194152;
    text-align: center;
    
} 
#login a, #signup a{
    color: #fafafa;
    text-transform: capitalize;
    font-weight: lighter;
}
.section2{
    background-image:url(images/second-background.png) ;
    background-position: center;
    background-size: cover;
    height: 87vh;
    width: 100%;
}
.spaceText, .discover{
    text-align: center;
    text-transform: uppercase;
    color:#45b6e6;
}
.spaceText{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10%;
}
.discover{
    color: #fafafa;
    padding-top:8%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#btn1{
    margin-left: 45%;
    margin-top: 2%;
    width: 10%;
    height: 5vh;
    text-transform: uppercase;
    color: #fafafa;
    background-color: #45b6e6;
    border: 2px #45b6e6 ;
    font-family:sans-serif;
    font-size: 1rem;
}

.section3{
    display: flex;
    justify-content: space-around;
}
.parts{
    width: 25%;
    margin-top: 5%;
    /* border-left: 2px solid #194152; */
}
.first-head{
    /* text-align: center; */
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 5%;
    color: #194152;
}

.section4{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}
#back{
    width: 30%;
    height:320px;
    /* border-radius: 50px; */
}
.ice{
    width: 35%;
    margin-top: 5%;
    margin-left:-15%;

}
.planet{
    text-transform: uppercase;
    /* text-align: center; */
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 5%;
    color: #194152;
}
.second-para{
    font-size: 1.2rem;
    font-family:serif;
}
.section5{
    background-image:url(images/second-background.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
}
.learn{
    color: #fafafa;
    text-align: center;
    padding-top: 8%;
    text-transform: capitalize;
    font-family: sans-serif;
}
.more{
    text-align: center;
    border: 2px solid #45b6e6;
    width: 8%;
    margin-left: 45%;
    margin-top: 2%;
    height: 4vh;
    padding-top: 1vh;
    background-color: #45b6e6;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.more a{
    color: #fafafa;
}

.footer-container{
    background-color: #09648b;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.first-footer{
    display: inline;
    margin-left: 5%;
}
.space-footer{
    margin-top: 5%;
    text-transform: uppercase;
    opacity:0.5;
    font-size: 1.5rem;
    margin-left: 7%;
}
.li-footer{
    margin-top: 30%;
    margin-left: -5%;
}
.li-footer a{
    color: #fafafa;
    font-size:1rem;
    text-transform: capitalize;
    font-weight: lighter;
    
}
.private{
    display:flex;
    
   /* 
   margin-right: 45%;
  
   margin-top: 5%; */
}
.terms{
        margin-left: 7%;
        text-transform: capitalize;
        font-size: 1.2rem;
}
.terms a{
    color: #fafafa;
}
.privacy{
    margin-top: 10%;
    width: 30%;
}
.add{
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.2rem;
    color: #fafafa;
    text-transform: capitalize;
}
.main-footer{
    background-color: #09648b;
    width: 100%;
    height: 15vh;
}
.copy, .designed{
    text-align: center;
    color: #fafafa;
}
.copy{
   text-transform: capitalize;
   font-size: 1rem;
   font-family: sans-serif;
   margin-bottom: 2%;
}
.designed{
    text-transform: capitalize;
    font-size:1.1rem ;
}


/* 
@media (max-width:767px){
    .section2{
        background-image:url(images/second-background.png) ;
        background-position: center;
        background-size: cover;
        height: 87vh;
        width: 100%;
    }
    #logo{
        margin-left: 6%;
    }
    ul{
        float: right;
        display: inline;
        margin-right:20%;
        padding-top: 5vh;
    }
    li{
        list-style: none;
        margin-right: 10%;
        font-size: 20px;
        text-transform: uppercase;
    }
    a{
        /* margin-left:5%; */
        /* text-decoration: none;
        color: #194152;
        text-align: center;
        font-weight: bold;
        font-family: sans-serif;
    }
    
    #login, #signup{
        border:2px solid #194152;
        width: 130px;
        background-color: #194152;
        text-align: center;
        
    } 
    #login a, #signup a{
        color: #fafafa;
        text-transform: capitalize;
        font-weight: lighter;
    }

} */ */